<% provide(:title, "Games") %>
<div class="center jumbotron">
<h1> Games</h1>
</div>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Platform</th>
      <th scope="col">Score Phase</th>
      <th scope="col">Score</th>
      <th scope="col">Genre</th>
      <th scope="col">Release Year</th>
      <th scope="col">Release Month</th>
      <th scope="col">Release Day</th>
      
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.platform %></td>
    <td><%= game.score_phrase %></td>
    <td><%= game.score %></td>
    <td><%= game.genre %></td>
    <td><%= game.release_year %></td>
    <td><%= game.release_month %></td>
    <td><%= game.release_day %></td>
  </tr>
<% end %>

<%= will_paginate @games %>
  </tbody>
</table>





