<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | Beast Games App</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
<header class="navbar navbar-fixed-top navbar-inverse">
  
      <div class="container">
        <%= link_to "Beast Games", '/static_pages/home', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/static_pages/home' %></li>
            <li><%= link_to "Games",   '#' %></li>
            <li><%= link_to "Scores", '#' %></li>
            <li><%= link_to "Twitter", '/tweets' %></li>
            <li><%= link_to "Sign in", '/users/sign_in' %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Admin", '/admins/sign_in' %></li>
          </ul>
         <%= form_tag games_path, :method => 'get' do %>
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Search" %>
         <% end %>

        </nav>
      </div>
    </header>
    <div class="container">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
